<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand workspace" href="#" data-toggle="tooltip" data-placement="bottom" title="Change Workspace"><i class="fa fa-link"></i> Semantic IDE [<%=workspace%>]</a>

</div> 
<div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#<%=window.workspace%>">Device Semantics</a></li>
    <li><a href="#<%=window.workspace%>/questions">Semantic Questions<% if(count!=0){ %> <span class="label label-danger "><%=count %></span><% } %></a></li>
    <li><a href="#<%=window.workspace%>/query">Query Interface</a></li>
    <li><a href="#<%=window.workspace%>/execution">Execution Plan Interface</a></li>
  </ul> 
  <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mangage Workspace <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#load" id="load"><i class="fa fa-tags"></i> Load configuration</a></li>
          <li><a href="<%= window.workspace_url() + '/all' %>" download="config.json" id="download"><i class="fa fa-cloud-download"></i> Download configuration</a></li>
          <li><a href="#" id="upload" class="fileUpload"><i class="fa fa-cloud-upload"></i> Upload configuration<input id="uploadBtn" type="file" class="upload" /></a></li>
          <li class="divider"></li>
          <li><a href="#" id="copy"><i class="fa fa-files-o"></i> Copy workspace</a></li>
          <li><a href="#"><i class="fa fa-sign-out"></i> Switch workspace</a></li>
        </ul>
      </li>
    </ul>
</div>